@* @model Restaurant.Models.ReservationView *@

@* @{ *@
@*     ViewData["Title"] = "訂位表單"; *@
@* } *@

@* <h2>@ViewData["Title"]</h2> *@
@* @Html.ValidationSummary(true, "", new { @class = "text-danger" }) *@

@* @* <form asp-controller="StoreInformation" asp-action="Create" method="post"> *@
@*     <div class="form-group"> *@
@*         <label asp-for="ReservationName"></label> *@
@*         <input asp-for="ReservationName" class="form-control" required /> *@
@*     </div> *@
@*     <div class="form-group"> *@
@*         <label asp-for="ReservationName"></label> *@
@*         <input asp-for="ReservationName" class="form-control" required /> *@
@*     </div> *@
@*     <div class="form-group"> *@
@*         <label asp-for="ReservationPhone"></label> *@
@*         <input asp-for="ReservationPhone" class="form-control" required /> *@
@*     </div> *@
@*     <div class="form-group"> *@
@*         <label asp-for="ReservationPeople"></label> *@
@*         <input asp-for="ReservationPeople" class="form-control" required /> *@
@*     </div> *@
@*     <div class="form-group"> *@
@*         <label asp-for="ReservationDate"></label> *@
@*         <input asp-for="ReservationDate" class="form-control" required /> *@
@*     </div> *@
@*     <button type="submit" class="btn btn-primary">送出訂位</button> *@
@* @* </form> *@
