@{
    ViewBag.Title = "付款取消";
}

<div class="container mt-5 text-center">
    <h2 class="text-danger">付款已取消！</h2>
    <p>您已取消付款，訂單未完成。</p>

    <div class="mt-4">
        <a asp-action="Index_Order" class="btn btn-primary">返回首頁</a>
    </div>
</div>
