@{
    Layout = "_Layout";
    ViewData["Title"] = "菜單品鑑";
}

<link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" />

@* 內容區域 *@
<div class="col-md-9 mt-5"></div>
@* 創建div元素，設置class為 text-center，將內容置中對齊 *@
<div class="text-center">
    @* 創建h1標題元素，設置class為 display-4，設置標題文本 *@
    <h2 class="display-4">精選附食 — 讓味蕾大滿足</h2>
    <h4>無論是經典還是創新，精選的美味附食絕對讓您一試成主顧！。</h4>
</div>

<p></p>

@* 巢狀導覽列 *@
<div class="container mt-5">
    <div class="row">
        <nav id="navbar-example3" class="navbar bg-light flex-column align-items-stretch p-3 h-auto col-md-2 col-lg-2 d-none d-md-block position-absolute">
            <a class="navbar-brand text-dark" href="#">精選附食</a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link text-dark" href="#item1">飯飯系列</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1 text-dark" href="#A1">經典雞滷飯</a>
                    <a class="nav-link ms-3 my-1 text-dark" href="#A2">蝦滷飯</a>
                    <a class="nav-link ms-3 my-1 text-dark" href="#A3">銷魂舒肥雞肉飯</a>
                </nav>
                <a class="nav-link text-dark" href="#item2">麵麵系列</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1 text-dark" href="#B1">香辣肉燥拌麵</a>
                </nav>
            </nav>
        </nav>

        @* 頁面內容 *@
        <div class="col-md-9 offset-md-3">
            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="10" tabindex="0">
                <h3 class="card-title mb-3" id="item1">飯飯系列</h3>

                <div class="card mb-5 p-3 border" id="A1">
                    <div id="ca1" class="flex-container">
                        <a href="#" class="stretched-link"></a>
                        <img src="~/images/經典雞滷飯.png" class="img-fluid rounded" style="width:400px; height:auto;" alt="經典雞滷飯">
                        <div class="card-body">
                            <h5 class="card-stitle">經典雞滷飯</h5>
                            <p class="card-text">細火慢燉的雞肉滷汁滲透Q彈白飯，鹹香入味，肉質嫩滑，每一口都是傳統家常的美好滋味！</p>
                        </div>
                    </div>
                </div>

                <p></p>

                <div class="card mb-5 p-3 border" id="A2">
                    <div id="ca2" class="flex-container">
                        <a href="#" class="stretched-link"></a>
                        <img src="~/images/蝦滷飯.png" class="img-fluid rounded" style="width:400px; height:auto;" alt="蝦滷飯">
                        <div class="card-body">
                            <h5 class="card-stitle">蝦滷飯</h5>
                            <p class="card-text">鮮蝦滷製獨特滷汁，鹹香中帶海味鮮甜，滷汁滲入米飯，層次豐富，每口都是極致享受！</p>
                        </div>
                    </div>
                </div>

                <p></p>

                <div class="card mb-5 p-3 border" id="A3">
                    <div id="ca3" class="flex-container">
                        <a href="#" class="stretched-link"></a>
                        <img src="~/images/銷魂舒肥雞肉飯.jpg" class="img-fluid rounded" style="width:400px; height:auto;" alt="銷魂舒肥雞肉飯">
                        <div class="card-body">
                            <h5 class="card-stitle">銷魂舒肥雞肉飯</h5>
                            <p class="card-text">低溫舒肥雞肉嫩滑多汁，搭配香氣四溢的特製醬汁與Q彈米飯，每口都滿足味蕾。</p>
                        </div>
                    </div>
                </div>

                <p></p>

                <h3 class="card-title mb-3" id="item2">麵麵系列</h3>

                <div class="card mb-5 p-3 border" id="B1">
                    <div id="ca4" class="flex-container">
                        <a href="#" class="stretched-link"></a>
                        <img src="~/images/香辣肉燥拌麵.png" class="img-fluid rounded" style="width:400px; height:auto;" alt="香辣肉燥拌麵">
                        <div class="card-body">
                            <h5 class="card-stitle">香辣肉燥拌麵</h5>
                            <p class="card-text">辣香四溢的肉燥醬汁拌勻Q彈麵條，香氣撲鼻，麻辣帶勁，一口接一口停不下來！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="topFunction()" id="upBtn" class="bi bi-arrow-up">TOP</button>

<script>
    let mybutton = document.getElementById("upBtn");

    window.onscroll = function() {scrollFunction()};

     function scrollFunction() {
         if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
             mybutton.style.display = "block";
         }
         else {
             mybutton.style.display = "none";
         }
     }

     function topFunction() {
         document.body.scrollTop = 0;
         document.documentElement.scrollTop = 0;
     }
</script>