/* 移除滾動監控的顏色框 */
.nav-link.active {
    background-color: transparent !important;
}

.card-body {
    padding: 15px; /* 調整卡片內容的內距 */
}

/* 調整卡片標題的樣式 */
.card-title {
    margin-bottom: 15px; /* 調整標題與內容之間的間距 */
}
