@model Restaurant.Models.CustomerView


@{
    ViewData["Title"] = "編輯會員資料";
}
<link rel="stylesheet" href="~/css/Css_Customer.css" asp-append-version="true" />

<h2 class="mb-4 myfont titlestyle1" style="padding-top:5%">編輯會員資料</h2>

<form asp-action="Edit" method="post" class="needs-validation myfont" novalidate>
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="CustomerId" />
    
    <!-- 整個表單加上灰色背景 -->
    <div class="p-5 bg-light rounded shadow-sm">

        <!-- 帳號（不可編輯） -->
        <div class="mb-3">
            <label class="form-label  listpadding2" style="color:brown;font-size:16pt; margin-right:1%;">帳號</label>
            <p class="form-control-plaintext listpadding2" style="display: inline;">@Model.CustomerAccount</p>
        </div>

        <!-- 姓名 -->
        <div class="mb-3 position-relative">
            <label asp-for="CustomerName" class="form-label listpadding2">姓名</label>
            <input asp-for="CustomerName" class="form-control  bg-white text-black listpadding2" required>
            <i class="bi bi-pencil-fill position-absolute end-0 top-50 translate-middle-y me-3"></i>
        </div>

        <!-- 電話 -->
        <div class="mb-3 position-relative">
            <label asp-for="CustomerPhone" class="form-label listpadding2">電話</label>
            <input asp-for="CustomerPhone" class="form-control  bg-white text-black listpadding2" required>
            <i class="bi bi-pencil-fill position-absolute end-0 top-50 translate-middle-y me-3"></i>
        </div>

        <!-- Email -->
        <div class="mb-3 position-relative">
            <label asp-for="CustomerEmail" class="form-label listpadding2">Email</label>
            <p class="form-control-plaintext listpadding2">@Model.CustomerEmail</p>
            <i class="bi bi-pencil-fill position-absolute end-0 top-50 translate-middle-y me-3"></i>
        </div>

        <!-- 地址 -->
        <div class="mb-3 position-relative">
            <label asp-for="CustomerAddress" class="form-label listpadding2">地址</label>
            <input asp-for="CustomerAddress" class="form-control bg-white text-black listpadding2">
            <i class="bi bi-pencil-fill position-absolute end-0 top-50 translate-middle-y me-3"></i>
        </div>

        <!-- 按鈕 -->
        <div class="d-flex gap-2" style="padding-top:2%;">
            <button type="submit" class="btn btn-primary">更新資料</button>
            <a asp-action="Index" class="btn btn-secondary mx-2">取消</a>
        </div>

    </div>
</form>

@* @section Scripts { *@
@*     @{ *@
@*         await Html.RenderPartialAsync("_ValidationScriptsPartial"); *@
@*                  <script> *@
@*             document.querySelector("form").addEventListener("submit", function() { *@
@*                 console.log("表單已提交！"); *@
@*             }); *@
@*             </script> *@
@*     } *@
       

@* } *@
